body{
    background: rgb(0, 225, 255);
    font-family: sans-serif;
    color: white;
    width: 80%;
}

.card{
    background: white;
    color: black;
    text-align: center;
    width: 300px;
    margin: auto;
}

h1{
    padding-top: 10px;
    font-size: 22px;
    margin: 0;
}

h2{
    font-size: 18px;
}

p{
    font-size: 18px;
    padding: 20px;
    background: lightcoral;
    text-align: justify;
}